---
subject: My Marketing Email Template Subject
---

<container>
  <spacer size="25"></spacer>
  <row>
    <columns large="4">
      
        <img src="assets/img/maf_logo.png" />
      
    </columns>
    <columns large="3" class="large-offset-5 align-right" >
      <img  src="assets/img/maf_tagline.png" />
    </columns>
  </row>

  <spacer size="15"></spacer>
  <row>
    
    <columns large="6" style="background-color: rgb(248, 151, 21);">
      <spacer size="20"></spacer>
      <img src="assets/img/Newround.png" style="margin: 0;padding: 0;" />
      <spacer size="20"></spacer>
    </columns>
    <columns large="2" class="large-offset-1" style="background-color: rgb(248, 151, 21);">
      <spacer size="30"></spacer>
        <p style="text-align: right; margin: 0;padding: 0;">
        <span style="color:white; font-size: 18px;">00-00-0000</span><br />
        <strong style="color:white; font-size: 18px;">ISSUE 01</strong>
        </p>
      <spacer size="15"></spacer>
    </columns>    
  </row>
  <row>
    
    <columns large="4">
      <spacer size="15"></spacer>
      <img src="assets/img/article_image.png" />
    </columns>

    <columns large="8">
      <spacer size="15"></spacer>
      <h3>Em aceptatiae nis quam nam faccullum</h3>
      <p style="font-weight: 600; color: #f89715;">Officiis cipsuscia qui aut adiandipis et mi, se velecte modita. 
        On e eium quam eium quam ium quam quiat. Itam, utem facearu ptatatur saped quam verio que odis et tore sumquiae ligent</p>
    </columns>
  </row>

  <row>
    <columns>
      <p style="font-family: Calibri,Arial; font-size: 11.5px; color: #777777; margin: 0px; ">nonsereiciam int volum harciun demporatium dolores aruptam voluptatur aut acient volupta tquiaer esciae nat odicabor adit quam haritae molenda nihicti berchic itatem dem re dus verist ent as doluptatur, qui volo et ressint porecus. El experum est eiusaperi tet qui vollibus andandust, consequas parum veliquu ntento coresto tassimu sanimint desequi sit, odiciis molorae cullibea con esequidusda asped que coneseq uasperr uptati consecto. Caborepe reperiam, comnime doluptam, odis mod eos dunto mi, aborae consernam quodipsa consectotam nos et quat ipsapit quam quod evendit ratat.Ut fuga. Et, nusam dolest. Caborepe reperiam, comnime doluptam, odis mod eos dunto mi, aborae consernam quodipsa consectotam nos et qua.</p>
      <img src="assets/img/illustration.png" />
    </columns>
  </row>
  
  
  <row style="background: #f1f1f1;">

    <columns large="8" class="boxes">

      <spacer size="20"></spacer>

      <row style="background: #f1f1f1;">
      <columns large="6" class="white">    
          <img src="assets/img/image_place_holder.png" style="width: 200px" width="205" />
          <spacer size="5"></spacer>
          <h4 class="text-center" style="font-size: 15px; margin: 0 10px 0 10px;">
            Officiis cipsuscia qui aut adiandipis et mi, se velecte modita
          </h4>
          <spacer size="2"></spacer>
          <p class="text-center" style="font-size: 11px;  color: #a0a0a0;margin: 0 10px 0 10px;">
            Ut lam, quiam aut denimolores porem que consequam, sequae ipsantis demperunto mo ipit...
          </p>
          <p style="text-align: center;">
          <a href="#">
            <img src="assets/img/Green-Button.png" />
          </a>
          </p>
          <spacer size="10"></spacer>
        
        </columns>

        <columns large="6" class="white" style="padding:0">
          
          <img src="assets/img/image_place_holder.png" style="width: 200px" width="205" />
          <spacer size="5"></spacer>
         <h4 class="text-center" style="font-size: 15px; margin: 0 10px 0 10px;">
            Officiis cipsuscia qui aut adiandipis et mi, se velecte modita
          </h4>
          <spacer size="2"></spacer>
          <p class="text-center" style="font-size: 11px;  color: #a0a0a0;margin: 0 10px 0 10px;">
            Ut lam, quiam aut denimolores porem que consequam, sequae ipsantis demperunto mo ipit...
          </p>
          <p style="text-align: center;">
          <a href="#">
            <img  src="assets/img/Green-Button.png" />
          </a>
          </p>
          <spacer size="10"></spacer>
        
        </columns>

      </row>
      <spacer size="30"></spacer>
      <row style="background: #f1f1f1;">
       <columns large="6" class="white">
        
          <img src="assets/img/image_place_holder.png" style="width: 200px" width="205"/>
          <spacer size="5"></spacer>
         <h4 class="text-center" style="font-size: 15px; margin: 0 10px 0 10px;">
            Officiis cipsuscia qui aut adiandipis et mi, se velecte modita
          </h4>
          <spacer size="2"></spacer>
          <p class="text-center" style="font-size: 11px;  color: #a0a0a0;margin: 0 10px 0 10px;">
            Ut lam, quiam aut denimolores porem que consequam, sequae ipsantis demperunto mo ipit...
          </p>
          <p style="text-align: center;">
          <a href="#">
            <img   src="assets/img/Green-Button.png" />
          </a>
          </p>
          <spacer size="10"></spacer>
        
        </columns>

        <columns large="6" class="white">
          
          <img src="assets/img/image_place_holder.png" style="width: 200px" width="205"/>
          <spacer size="5"></spacer>
         <h4 class="text-center" style="font-size: 15px; margin: 0 10px 0 10px;">
            Officiis cipsuscia qui aut adiandipis et mi, se velecte modita
          </h4>
          <spacer size="2"></spacer>
          <p class="text-center" style="font-size: 11px;  color: #a0a0a0;margin: 0 10px 0 10px;">
            Ut lam, quiam aut denimolores porem que consequam, sequae ipsantis demperunto mo ipit...
          </p>
          <p style="text-align: center;">
          <a href="#">
            <img   src="assets/img/Green-Button.png" />
          </a>
          </p>
          <spacer size="10"></spacer>
        
        </columns>
      </row>
    <spacer size="30"></spacer>
      <row>
        <columns large="6" class="white">
        
          <img src="assets/img/image_place_holder.png" style="width: 200px" width="205"/>
          <spacer size="5"></spacer>
         <h4 class="text-center" style="font-size: 15px; margin: 0 10px 0 10px;">
            Officiis cipsuscia qui aut adiandipis et mi, se velecte modita
          </h4>
          <spacer size="2"></spacer>
          <p class="text-center" style="font-size: 11px;  color: #a0a0a0;margin: 0 10px 0 10px;">
            Ut lam, quiam aut denimolores porem que consequam, sequae ipsantis demperunto mo ipit...
          </p>
          <p style="text-align: center;">
          <a href="#">
            <img  src="assets/img/Green-Button.png" />
          </a>
          </p>
          <spacer size="10"></spacer>
        
        </columns>

        <columns large="6" class="white">
          
          <img src="assets/img/image_place_holder.png" style="width: 200px" width="205"/>
          <spacer size="5"></spacer>
         <h4 class="text-center" style="font-size: 15px; margin: 0 10px 0 10px;">
            Officiis cipsuscia qui aut adiandipis et mi, se velecte modita
          </h4>
          <spacer size="2"></spacer>
          <p class="text-center" style="font-size: 11px;  color: #a0a0a0;margin: 0 10px 0 10px;">
            Ut lam, quiam aut denimolores porem que consequam, sequae ipsantis demperunto mo ipit...
          </p>
          <p style="text-align: center;">
            <a href="#">
              <img   src="assets/img/Green-Button.png" />
            </a>
          </p>
          
          <spacer size="10"></spacer>
        
        </columns>
        
      </row>
    
    </columns>

    <columns class="brief" large="4">
    <spacer size="20"></spacer>
    
      <row>
        <columns class="whiteblue" >
        <spacer size="10"></spacer>
      <h6 class="text-center">IN BRIEF...</h6>
      <p class="text-center" style=" margin: 0 10px 0 10px; font-size: 11px">Officiis cipsuscia qui aut adiandipis et mi, se velecte</p>
      <spacer size="7"></spacer>
      <p style="text-align: center;">
      <a href="#" target="_blank"><img src="assets/img/Blue-Button.png" alt="Read more" title="Read more"></a>
      </p>
      <spacer size="23"></spacer>

      <p class="text-center" style=" margin: 0 10px 0 10px; font-size: 11px">Officiis cipsuscia qui aut adiandipis et mi, se velecte</p>
      <spacer size="7"></spacer>
     <p style="text-align: center;">
      <a href="#" target="_blank"><img src="assets/img/Blue-Button.png" alt="Read more" title="Read more"></a>
      </p>
      <spacer size="23"></spacer>

      <p class="text-center" style=" margin: 0 10px 0 10px; font-size: 11px">Officiis cipsuscia qui aut adiandipis et mi, se velecte</p>
      <spacer size="7"></spacer>
      <p style="text-align: center;">
      <a href="#" target="_blank"><img src="assets/img/Blue-Button.png" alt="Read more" title="Read more"></a>
      </p>
      <spacer size="23"></spacer>

      <p class="text-center" style=" margin: 0 10px 0 10px; font-size: 11px">Officiis cipsuscia qui aut adiandipis et mi, se velecte</p>
      <spacer size="7"></spacer>
      <p style="text-align: center;">
      <a href="#" target="_blank"><img src="assets/img/Blue-Button.png" alt="Read more" title="Read more"></a>
      </p>
      <spacer size="23"></spacer>

      <p class="text-center" style=" margin: 0 10px 0 10px; font-size: 11px">Officiis cipsuscia qui aut adiandipis et mi, se velecte</p>
      <spacer size="7"></spacer>
      <p style="text-align: center;">
      <a href="#" target="_blank"><img src="assets/img/Blue-Button.png" alt="Read more" title="Read more"></a>
      </p>
      <spacer size="23"></spacer>

     <p class="text-center" style=" margin: 0 10px 0 10px; font-size: 11px">Officiis cipsuscia qui aut adiandipis et mi, se velecte</p>
      <spacer size="7"></spacer>
      <p style="text-align: center;">
      <a href="#" target="_blank"><img src="assets/img/Blue-Button.png" alt="Read more" title="Read more"></a>
      </p>
      <spacer size="14"></spacer>
        </columns>
      </row>
      <spacer size="30"></spacer>
      <row>
          <columns large="12" style="background: #009de0;">

            <img src="assets/img/place_holder2.png" style="width: 200px" width="205"  />
            <spacer size="20"></spacer>
            <p style="text-align: center;">
            <img style="margin:0 auto;" src="assets/img/Twitter.png" />
            </p>
            <spacer size="10"></spacer>
            <p style="color: white; font-size: 11px; margin: 0 10px 0 10px;" class="text-center">
              We're excited to announce our partnership w/ <span style="color: black;">@WorldRetail</span> for the 2nd year in 
              <span style="color: black; font-size: 11px;">#Dubai</span> alongside 
              
              <span style="color: black; font-size: 11px;">@dubaichamber </span>
              <span style="color: black; text-decoration: none; font-size: 11px; ">http://bit.ly/2lj1TXK</span><p>
            
            <p style="color: white; font-size: 11px; margin: 0 10px 0 10px;" class="text-center">@MAJID ALFUTTAIM
            07 FEB 2017</p>
            
          </columns>
      </row>
      <spacer size="15"></spacer>
    </columns>

</row>
  

  <row class="collapsed footer" >
    <columns size="large 4" style="background-color: rgb(248, 151, 21);">
      <spacer size="19"></spacer>
      
        <p style="color: #ffffff; font-size: 11px;text-align: center;">#GreatMoments</p>
      

    </columns>

    <columns size="large 4" style="background-color: rgb(248, 151, 21);">
       
      <spacer size="5"></spacer>
        <menu>
          <item><img src="assets/img/instagram_icon.png" alt=""></item>
          <item><img src="assets/img/twitter_icon.png" alt=""></item>
          <item><img src="assets/img/youtube_icon.png" alt=""></item>
          <item><img src="assets/img/linkedin_icon.png" alt=""></item>
        </menu>
      
      
    </columns>
    <columns size="large 4" style="background-color: rgb(248, 151, 21);">
       <spacer size="15"></spacer>
      <p style="color: #ffffff; font-size: 11px;text-align: center;">majidalfuttaim.com</p>
    </columns>
  </row>

  

</container>
